ion-content{
  min-height: 100vh;
}

body {
    background:#ddd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    justify-items: center;
    direction:rtl;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    
    background: #fff;
    margin: 2px;
  }


  .container .number-ribbon{
    position: absolute;
    top: 0;
    left: 0em;
    padding: 0.6em 0 0 0.1em;
    z-index: 1;
    color: #eee;
    font-size: 1.2em;
    // width: 1.5em;
    line-height: 0.1em;
    -webkit-transition: line-height 0.5s;
    transition: line-height 0.5s;
  }
  .container .number-ribbon:before {
    content: ""; 
    font-size: 0.5em;
    position: absolute;
    border-style: solid;
    border-color: #c50811 transparent transparent transparent;
    top: 0;
    left: 0;
    border-width: 6em 6em 6em 0;
    z-index: -1;
  }
  
  .container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: #fff;
    
  }
  
  .container .imgBx:before{
      position: absolute;
      content: '';
      top: 20px;
      right: 20px;
      color: #000;
      opacity: 0.1;
      font-size: 2em;
      transform: rotate(-20deg);
      font-weight: 800; 
  }
  
  .container .imgBx img {
    position: relative;
    // width: 700px;
    // transform: rotate(-30deg);
    // left: -130px;
  }
  
  .container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 0px;
  }
  
  .container .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
  }
  
  .container .details h2 span {
      font-size: 0.4em;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: rgb(202, 18, 18);
  
  }
  .container .details p{
      max-width: 85%;
      margin-right: 15%;
      color: #333;
      font-size: 15px;
  }
  
  .container .details h3{
  margin: 0;
  padding: 0;
  font-size: 1.0em;
  color: #be0a0a;
  float: right;
  }
  
  .container .details button{
      background: #36cddf;
      color: #fff;
      border: none;
      box-shadow: none;
      outline: none;
      padding: 8px 16px;
      margin-top: 0px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 2px;
      float: left;
      cursor: pointer;
  }
  
  @media (max-width:1080px){
    .container{
        height: 100%;
    }
    .container .imgBx{
      padding:0px;
      box-sizing:border-box;
      width:100% !important;
      height:auto;
      text-align:center;
      overflow:initial;
    }
    .container .imgBx img{
        right:initial;
        max-width:100%;
        // transform:rotate(-33deg);
        // left: -30px;
      } 
 
    .container .details{
      width:100% !important;
      height:auto;
      padding:20px 5px;
    }   
  .container .details p{
      max-width: 100%;
      margin-right: 0%;
    }

    .container .details h2{
        font-size: 0.757rem; 
        font-weight: 400;
      }

      .container .details h3{
        font-size: 0.827rem; 
        line-height: 2.2;
      }
  }
    
